{# {% extends "@UVDeskCoreFramework/Templates/layout.html.twig" %} #}

{% block pageContent %}
    <link href="{{ asset('bundles/uvdeskcoreframework/css/_uikit.css') }}" type="text/css" rel="stylesheet" media="all" />
    <style>
        #ticket-form {
            margin-left: 60px; 
            margin-top: 30px; 
        }
        .validation-message {
            color: red;
        }
        .textarea {
            margin-top: 30px;
        }

        #create-ticket-btn {
            margin-top: 150px; 
            display: inline-block;
            z-index: 999; 
        }
        .form-builder-checkbox {
            padding: 20px; 
        }
    </style>


    {% if formbuilder is not empty and formbuilder.id is defined %}

         <form method="POST" enctype="multipart/form-data" id="ticket-form">

            <h2><b>{{ formbuilder.form_name }}</b></h2>

                 <div class="uv-element-block">
                     <label class="uv-field-label">Name</label>
                         <div class="uv-field-block">
                            <input name="name" class="uv-field create-ticket" type="text" value="" required>
                            <span class="validation-message"></span>
                         </div>
                     <span class="uv-field-info">Customer Full Name</span>
                 </div>

             {# Email is a mandatory field. #}
             <div class="uv-element-block">
                 <label class="uv-field-label">Email</label>
                     <div class="uv-field-block">
                         <input name="email" class="uv-field create-ticket" type="text" value="" required> 
                         <span class="validation-message"></span>
                     </div>
                 <span class="uv-field-info">Customer Email Address</span>
             </div>

             <div class="uv-element-block">
                 <label class="uv-field-label">Message</label>
                     <div class="uv-field-block">
                         <textarea name="reply" class="uv-field create-ticket" type="text" id='ticket-message'></textarea required>
                         <span class="validation-message"></span>
                     </div>
                 <span class="uv-field-info">Ticket query message</span>
             </div>
             {% if formbuilder.type == '1'%}
             {% endif %}
             {% if formbuilder.subject == '1'%}
                 <div class="uv-element-block">
                     <label class="uv-field-label">Subject</label>
                         <div class="uv-field-block">
                             <input name="subject" class="uv-field create-ticket" type="text" value="" required>
                             <span class="validation-message"></span>
                         </div>
                     <span class="uv-field-info">Ticket Subject</span>
                 </div>
             {% endif %}
             {% if formbuilder.order_no == '1'%}
                 <div class="uv-element-block">
                     <label class="uv-field-label">Order #</label>
                         <div class="uv-field-block">
                             <input name="order_no" class="uv-field create-ticket" type="text" value="" required>
                             <span class="validation-message"></span>
                         </div>
                     <span class="uv-field-info">Order Number</span>
                 </div>
             {% endif %}
             
             {% if formbuilder.file == '1'%}
                 <div class="uv-element-block attachment-block uv-no-error-success-icon">
                     <label>
                         <input type="file" name="file">
                     </label>
                 </div>
             {% endif %}

             {% if formbuilder.gdpr == '1'%}
                 <div class="uv-element-block form-builder-checkbox">
                     <div class="uv-field-block uv-vertical-align" name="gdpr_compliance">
                         <input type="checkbox" id="gdpr" style="margin-left: unset;width: 20px;height: 25px;">
                         <span style="position: relative;top: -8px">I agree to the <a href="https://www.uvdesk.com/en/gdpr" target="_blank">  Terms &amp; Conditions</a></span>
                     </div>
                 </div>
             {% endif %}

            {% if customFields is not empty and customFields is defined %}
                {% for cf in customFields %}
                
                    {% if cf.fieldType is defined and cf.fieldType == 'text' %}
                        <div class="uv-element-block custom-fields">
                           <label class="uv-field-label">{{ cf.name }}</label>
                           <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="text" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'textarea' %}
                        <div class="uv-element-block custom-fields textarea">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="textarea" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'radio' %}
                        <div class="uv-element-block custom-fields">
                            <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                {% for options in cf.options %}
                                    <input type="radio"  name="customFields[{{  cf.id }}]" value="{{ options }}" >
                                    <label for="{{ options }}">{{ options }}</label><br>
                                {% endfor %}
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'select' %}
                        <div class="uv-element-block custom-fields">
                            <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <select name="customFields[{{  cf.id }}]" class="uv-field create-ticket" value="{{ cf.id }}" id="{{ cf.id }}" required>
                                    {% for options in cf.options %}
                                        <option value="{{ options }}">{{ options }}</option>
                                    {% endfor %}
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'checkbox' %}
                        <div class="uv-element-block custom-fields form-builder-checkbox">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                {% for options in cf.options %}
                                    <input type="checkbox"  name="customFields[{{  cf.id }}]" value="{{ options }}" id="{{ cf.id }}"/>
                                    <label for="{{ options }}"> {{ options }} </label><br>
                                {% endfor %}
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'date' %}
                        <div class="uv-element-block custom-fields">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="date" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'time' %}
                        <div class="uv-element-block custom-fields">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="time" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                             </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'datetime' %}
                        <div class="uv-element-block custom-fields">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="datetime-local" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}

                    {%  if cf.fieldType is defined and cf.fieldType == 'file' %}
                        <div class="uv-element-block custom-fields">
                             <label class="uv-field-label">{{ cf.name }}</label>
                            <div class="uv-field-block">
                                <input name="customFields[{{  cf.id }}]" class="uv-field create-ticket" type="file" value="" id="{{ cf.id }}" required>
                                <span class="validation-message"></span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            {% endif %}

            <div>
                <input type="submit"  id="create-ticket-btn" class="uv-btn" value="Create Ticket" />
            </div> 
         </form>

    {% else %}
        <h2> Unable to render FormBuilder Preview. </h2>
    {% endif %}


{% endblock %}